.castList {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

.castItem {
    width: 140px;
    border: 2px solid #338d33;
    border-radius: 8px;
    overflow: hidden;
    background-color: #302e2e;
    display: flex;
    flex-direction: column;
    color: azure;
}

.castText {
    padding: 8px;
    text-align: center;
}

.castImage {
    width: 100%;
    height: 210px;
    object-fit: cover;
    display: block;
}

.castName {
    font-weight: bold;
    margin: 5px 0 2px;
}

.castCharacter {
    font-size: 0.9em;
    color: #555;
    margin-bottom: 8px;
}

.span{
    color: #338d33;
}